MONGO_URI=<uri_of_mongodb_database>
PORT=5000
TOKEN_SECRET=<a random string>
ADMIN1_EMAIL=<admin_email>
ADMIN1_PASS=<admin_password>
APP_CODE=<app_code_gen_from_admin_gmail_account>
APP_PASS=<app_password_gen_from_admin_gmail_account>
PUBLIC_VAPID_KEY=<public vapid key generated>
PRIVATE_VAPID_KEY=<private vapid key generated>
WEB_PUSH_CONTACT=mailto:<email_id_of_admin>
RAZORPAY_API_KEY=<razorpay_api_key>
RAZORPAY_API_SECRET=<razorpay_api_secret>
REACT_APP_URL=<url_of_frontend>
NEWS_API_KEY=<api_key_from_newsapi.org>